importFrom("graphics", "abline", "clip", "hist", "layout", "plot",
             "points", "text", "par","axis", "mtext", "rect")
importFrom("stats", "lm", "median", "sd", "cor.test", "spline", "var", "complete.cases", "predict")
importFrom("utils", "read.csv")
importFrom("grDevices", "adjustcolor")
importFrom("gam", "gam")
export(driftFilter)
export(formatDives)
export(kalman)
export(NDE)
export(newVarsVect)
export(plotDrift)
export(postKalman)
export(RBSM)
export(updateKalman)
export(makeTheGam)
